<% include ./layouts/header %>

    <body>
        <div class="container-scroller">
            <!-- partial:partials/_navbar.html -->
            <% include ./layouts/navbar %>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial:partials/_settings-panel.html -->
                    <!-- partial -->
                    <!-- partial:partials/_sidebar.html -->
                    <% include ./layouts/sidebar%>
                        <!-- partial -->
                        <% include ./main/feature %>
                            <% include ./layouts/footer %>
                                <!-- partial -->
                </div>
                <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

        <!-- plugins:js -->
        <script src="/Admin/vendors/js/vendor.bundle.base.js"></script>
        <script src="/Admin/vendors/js/vendor.bundle.addons.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="/Admin/js/off-canvas.js"></script>
        <script src="/Admin/js/hoverable-collapse.js"></script>
        <script src="/Admin/js/misc.js"></script>
        <script src="/Admin/js/settings.js"></script>
        <script src="/Admin/js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/Admin/js/dashboard.js"></script>
        <script src="/Admin/js/editorDemo.js"></script>

        <script src="/Admin/js/js-grid.js"></script>
        <script src="/Admin/js/db.js"></script>

        <!-- End custom js for this page-->
    </body>


    </html>