<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Admin/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/Admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/Admin/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="https://cdn4.iconfinder.com/data/icons/map-pins-2/256/15-512.png" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

</head>