<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="/Admin/images/faces/face5.jpg" alt="image" />
                </div>
                <div class="profile-name">
                    <p class="name">
                        Welcome
                    </p>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/home">
                <i class="fa fa-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/customer">
                <i class="fas fa-minus-square menu-icon"></i>
                <span class="menu-title">Customer</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/list-room">
                <i class="fas fa-minus-square menu-icon"></i>
                <span class="menu-title">Room</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/list-room-type">
                <i class="fas fa-minus-square menu-icon"></i>
                <span class="menu-title">Room Type</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/facility">
                <i class="fas fa-minus-square menu-icon"></i>
                <span class="menu-title">Facility</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/bill">
                <i class="fas fa-minus-square menu-icon"></i>
                <span class="menu-title">Bill</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/list-service">
                <i class="fas fa-minus-square menu-icon"></i>
                <span class="menu-title">Service</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/feature">
                <i class="fas fa-minus-square menu-icon"></i>
                <span class="menu-title">Feature </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin/revenue">
                <i class="fas fa-minus-square menu-icon"></i>
                <span class="menu-title">Revenue </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Auth/logout">
                <i class="fas fa-power-off menu-icon"></i>
                <span class="menu-title">Đăng xuất</span>
            </a>
        </li>
    </ul>
</nav>