<div class="container">
    <div class="row my-5">
        <div class="col-md-5">
            <div class="site-block-27">
                <label for="" class="label text-left text-danger">Check in Date</label><br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                    <input type="date" id="checkin" value="<%= checkin.checkin %>" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="site-block-27">
                <label for="" class="label text-left text-danger">Check out Date</label><br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                    <input type="date" id="checkout" value="<%= checkout.checkout %>" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="site-block-27 my-2">
                <br>
                <button type="button" id="search" class="btn btn-success form-control"> <i class="fa fa-search"></i> Search</button>
            </div>
        </div>
    </div>
</div>