<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                REVENUE
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">REVENUE</li>
                </ol>
            </nav>
        </div>
        <div class="row">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">REVENUE</h4>
                        <br>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Month
                                        </th>
                                        <th>
                                            Years
                                        </th>
                                        <th>
                                            Revenue
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.map(function(item){%>
                                        <tr>
                                            <td>
                                                <%= item.v_month%>
                                            </td>
                                            <td>
                                                <%= item.v_year%>
                                            </td>
                                            <td>
                                                <%= item.v_income%>

                                            </td>
                                        </tr>
                                        <%})%>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>