<% include ./layouts/header %>

    <body>

        <div class="site-wrap">

            <!-- .site-mobile-menu -->

            <% include ./layouts/menu%>


                <% include ./layouts/slider %>
                    <div class="row mt-2">
                        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                            <h2 class="mb-5">About us</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container my-3">
                            <div class="row align-items-center">
                                <div class="col-md-4 mb-5 mb-md-5">

                                    <div class="img-border">

                                        <img src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-9/12993481_560874844073327_3670069121602919777_n.jpg?_nc_cat=100&_nc_eui2=AeEpoFIWTmC5SqD0qDv1CKkhbDVv9xmceYJbFa8DAMW2F9Ws5dn2RF1Yi7Q1b_I8CdevrOqL7s03M3z-ee1n09extCAeH_wG5KeGV2ETeNnEZQ&_nc_ohc=GqSXYJKYhE4AQn5eCUUnZERAK64_yWux3Uqx5yrqFCSN0Lh6x_yuqYmaw&_nc_ht=scontent.fsgn4-1.fna&oh=b5f53ee0788608d0f8c8a2d109812c25&oe=5EA8466A"
                                            alt="" class="img-fluid">
                                        </a>
                                    </div>

                                    <img src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t31.0-8/p960x960/21551990_829400340554108_3023919116701081792_o.jpg?_nc_cat=105&_nc_eui2=AeGKAc--mPaUAYHIc5RdgTMbHnVRTYoTwP3N_9X34WHdq-8sgMRmi36POnjKNnNOvmFi7i38cbA8PUzBkOa0djQmbFIF5gaSYXNf0zcSOHC-bA&_nc_ohc=_g8Mn4bgk8oAQkUAvjxnHH_AhoOzQWDwlndOtR_slVK_7RgeV6KCl0HUw&_nc_ht=scontent.fsgn4-1.fna&oh=17e4bc8ecb2b63cc27dbc0021daf5cd9&oe=5EAF1D14"
                                        alt="Image" class="img-fluid image-absolute">

                                </div>
                                <div class="col-md-7 ml-auto">
                                    <div class="section-heading text-left">
                                        <h2 class="mb-5">DO HUU LUONG</h2>
                                    </div>
                                    <p class="mb-4"> <i class="fa fa-envelope" aria-hidden="true"></i> 17520103@gmail.com</p>
                                    <p class="mb-4"> <i class="fa fa-facebook" aria-hidden="true"></i>
                                        <a href="https://www.facebook.com/nnlnphlvl">Đỗ Hữu Lượng</a>
                                    </p>
                                    <p class="mb-4">
                                        <i class="fa fa-map-marker"> Linh Trung, Thu Duc, Ho Chi Minh</i>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container my-5">
                            <div class="row align-items-center">
                                <div class="col-md-4 mb-5 mb-md-5">

                                    <div class="img-border">

                                        <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/18301890_1197759716999290_248172113858954861_n.jpg?_nc_cat=111&_nc_eui2=AeF4jSSm4iGUxxUQbBdvY9akml2uwWKo_vyk7g42b_rhDWuu2oklkvPJOo4FjMWYiHEykRJnAVcJPf8nbjdfnyDsPfipl4v1DfN4lYOqgwujuA&_nc_ohc=lKRlLwpGFxcAQnOcafN3i9Moi18q6IQGgxV16As7Qo-9ctS2t6o6HDuRA&_nc_ht=scontent.fsgn3-1.fna&oh=303b473d01325ee68f42e08a9f9b6af6&oe=5EA8A051"
                                            alt="" class="img-fluid">
                                        </a>
                                    </div>

                                    <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/18301890_1197759716999290_248172113858954861_n.jpg?_nc_cat=111&_nc_eui2=AeF4jSSm4iGUxxUQbBdvY9akml2uwWKo_vyk7g42b_rhDWuu2oklkvPJOo4FjMWYiHEykRJnAVcJPf8nbjdfnyDsPfipl4v1DfN4lYOqgwujuA&_nc_ohc=lKRlLwpGFxcAQnOcafN3i9Moi18q6IQGgxV16As7Qo-9ctS2t6o6HDuRA&_nc_ht=scontent.fsgn3-1.fna&oh=303b473d01325ee68f42e08a9f9b6af6&oe=5EA8A051"
                                        alt="Image" class="img-fluid image-absolute">

                                </div>

                                <div class="col-md-7 ml-auto">
                                    <div class="section-heading text-left">
                                        <h2 class="mb-5">LE MINH QUOC</h2>
                                    </div>
                                    <p class="mb-4"> <i class="fa fa-envelope" aria-hidden="true"></i> 17520956@gmail.com</p>
                                    <p class="mb-4"> <i class="fa fa-facebook" aria-hidden="true"></i>
                                        <a href="https://www.facebook.com/momgiaxauxi149">Minh Quốc</a>
                                    </p>
                                    <p class="mb-4">
                                        <i class="fa fa-map-marker"> Linh Trung, Thu Duc, Ho Chi Minh</i>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <% include ./layouts/footer %>
        </div>

        <script src="/suites/suites/js/jquery-3.3.1.min.js"></script>
        <script src="/suites/suites/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="/suites/suites/js/jquery-ui.js"></script>
        <script src="/suites/suites/js/popper.min.js"></script>
        <script src="/suites/suites/js/bootstrap.min.js"></script>
        <script src="/suites/suites/js/owl.carousel.min.js"></script>
        <script src="/suites/suites/js/jquery.stellar.min.js"></script>
        <script src="/suites/suites/js/jquery.countdown.min.js"></script>
        <script src="/suites/suites/js/jquery.magnific-popup.min.js"></script>
        <script src="/suites/suites/js/bootstrap-datepicker.min.js"></script>
        <script src="/suites/suites/js/aos.js"></script>


        <script src="/suites/suites/js/mediaelement-and-player.min.js"></script>

        <script src="/suites/suites/js/main.js"></script>


        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var mediaElements = document.querySelectorAll('video, audio'),
                    total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function() {
                            var target = document.body.querySelectorAll('.player'),
                                targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                        }
                    });
                }
            });
        </script>

    </body>

    </html>