<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2 class="mb-5">Our Facility</h2>
            </div>
        </div>
        <div class="row">
            <% data.map(function(item){%>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="hotel-room text-center">
                        <a href="/facility/<%= item.FAC_ID %>" class="d-block mb-0 thumbnail"><img src="<%= item.FAC_IMG %>" alt="Image" class="img-fluid"></a>
                        <div class="hotel-room-body">
                            <h3 class="heading mb-0">
                                <a href="<%= item.FAC_ID %>">
                                    <%= item.FAC_NAME %>
                                </a>
                            </h3>
                            <strong class="price"></strong>
                        </div>
                    </div>
                </div>
                <%})%>


        </div>

    </div>
</div>